/* HeartButton.module.css */

.buttonDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.heartButton {
    font-size: 20px;
    color: white; /* Initial color */
    cursor: pointer;
    transition: color 0.2s ease; /* Smooth color transition */
  }
  
  .liked {
    color: red; /* Color when clicked */
  }
  .countNumber{
    padding-left: 5px;
    width: 15px;
    color: white;
    font-weight: 800;
    font-size: 12px;
    transition: .2s ease;
  }
  