.backGround{
    background-color: #ffffff;
    height: 1004px;
}

.midSection{
    padding-top: 30px;
    position: relative;
    margin: 0 350px;
    width: 50%;
}

/* For you section  */

.forYouText{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #868686;
}  
.forYouSection hr{
    border: 1px solid #E6E6E6;
    height: 4px;
    background-color: #E6E6E6;
}

.downArrowIcon{
    width: 30px;
    opacity: 60%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: .2s;
}
.downArrowIcon:hover{
    opacity: 100%;
}

/* Near you section */

.nearYouText{
    margin-top: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #868686;
    display: flex;
    justify-content: center;
}  
.italic{
    font-style: italic;
    color: #868686;
}
.nearYouSection hr{
    border: 1px solid #E6E6E6;
    height: 4px;
    background-color: #E6E6E6;
}
.nearYouBoxes{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.ngoBox{
    height: 250px;
    width: 200px;
    border-radius: 10px;
    border: 4px solid #75C4FF;
    background-color: #CCF0FF;
    transition: .2s ease;
    cursor: pointer;
}
.ngoBox:hover{
    background-color: #75C4FF;
    .cardText{
        color:rgb(255, 255, 255)
    }
}
.cardImg{
    height: 150px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    border: 4px solid white;
}
.cardText{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #75C4FF;
}

.buttonBox{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.viewAllButton{
    width: 200px;
    height: 40px;
    background-color: white;
    border: 4px solid #75C4FF;
    border-radius: 10px;
    position: relative;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #75C4FF;
    cursor: pointer;
    transition: .2s;
}
.viewAllButton:Hover{
    background-color: #75C4FF;
    color: white;
}