.backGround {
  background-image: url("../../public/assets/cloudBg.png");
  background-repeat: no-repeat;
  background-color: #86d6f8;
  height: 1004px;
  width: 100%;
  position: fixed;
  transition: all 0.2s ease;
}

.backGroundBlack {
  background-image: url("../../public/assets/starBg.png");
  background-repeat: no-repeat;
  background-color: #01425c;
  height: 1004px;
  width: 100%;
  position: fixed;
  transition: all 0.2s ease;
}

/* ------------------Darkmode---------------- */

.switchModeButton {
  position: fixed;
  top: 20px;
  right: 30px;
  width: fit-content;
}

.switchText {
  position: fixed;
  top: 58px;
  right: 35px;
  width: 50px;
  color: white;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  word-wrap: normal;
  text-align: center;
  line-height: 10px;
}

.switch {
  display: inline-block;
  width: 65px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid white;
  transition: background-color 0.4s ease, transform 0.4s ease; /* Added transition for transform */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 30px;
  left: 4px;
  bottom: 2px;
  transition: transform 0.2s ease, background-image 0.2s ease;
}


/* Moon image */
input:checked + .slider:before {
  background-image: url("../../public/assets/moon.png");
  transform: translateX(26px);
  background-size: 26px;
  background-repeat: no-repeat;
}

/* Sun image */
input:not(:checked) + .slider:before {
  background-image: url("../../public/assets/sun.png");
  background-size: 26px;
  background-repeat: no-repeat;
}

input:focus + .slider {
  box-shadow: 0 0 1px #124c7b;
}
