/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Mid Section */
.midSection {
    padding-top: 30px;
    margin: 0 400px;
    width: 50%;
    position: relative;
}

/* For You Section */
.wonderYouText {
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.midSection hr {
    border: 1px solid transparent;
    height: 4px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

/* Scroll Mid Section */
.scrollMidSection {
    margin: 0 auto;
    width: 100%;
    height: 950px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    overflow: scroll;
    overflow-x: hidden;
}

.scrollMidSection::-webkit-scrollbar {
    width: 4px;
}

/* Scrollbar Styles */
.scrollMidSection::-webkit-scrollbar-track {
    border-radius: 10px;
}

.scrollMidSection::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.wonderSubText {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Boxes Section */
.boxes {
    width: 270px;
    height: 350px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 4px solid #4EB4FF;
    background-color: #ccf0ff63;
    cursor: pointer;
    transition: 0.2s ease;
}

/* Text and Button Section */
.textAndButton {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.boxName {
    color: #4EB4FF;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    transition: 0.2s ease;
}

.rightArrow {
    width: 22px;
    height: 22px;
    opacity: 0%;
    transition: .2s ease;
}

/* Box Image Section */
.boxImage {
    width: 100%;
}

/* Hover Effects */
.boxes:hover {
    background-color: #4EB4FF;
}

.boxes:hover .boxName {
    color: white;
}

.boxes:hover .rightArrow {
    opacity: 100%;
}
